.list-group-item {
    padding: .35rem .5rem;
    font-size: .9rem;
}

.list-progress {
    height: 12px;
}

.btn-highlight {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #fff;
}

.container {
    max-width: none;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
